h1{
    color: rgb(255, 73, 41);
}
body{
    background-color: papayawhip;
}
h2{
    color: tomato;
}
a{
    color: rgb(184, 28, 0);
}
h3{
    color: tomato;
}
strong{
    color: rgb(255, 44, 7);
}